/*-----------------------------------*\
  #style.css File
\*-----------------------------------*/

/**
 * copyright 2023 Ultra Apps
 */

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /**
   * colors
   */
  --main-color: #467576;
  --alt-color: #1abc9c;
  --first-color: hsl(168, 76%, 42%, 0.12);
  --st-patricks-blue: hsl(236, 57%, 28%);
  --amaranth-purple: hsl(335, 88%, 38%);
  --royal-blue-dark: #16a085;
  --chrome-yellow: #f1c40f;
  --space-cadet-1: hsl(230, 41%, 25%);
  --space-cadet-2: hsl(230, 59%, 16%);
  --winter-sky_50: hsla(335, 87%, 53%, 0.5);
  --purple-navy: hsl(236, 26%, 43%);
  --ksu-purple: #2ecc71;
  --winter-sky: hsl(335, 87%, 53%);
  --razzmatazz: #1abc9c;
  --platinum: hsl(0, 0%, 90%);
  --black_70: hsla(0, 0%, 0%, 0.7);
  --rajah: #27ae60;
  --white: hsl(0, 0%, 100%);

  --gradient-1: linear-gradient(
    90deg,
    var(--royal-blue-dark) 0,
    var(--ksu-purple) 51%,
    var(--royal-blue-dark)
  );
  --gradient-2: linear-gradient(90deg, var(--razzmatazz), var(--rajah));

  /**
   * typography
   */

  --ff-source-sans-pro: "Source Sans Pro", sans-serif;
  --ff-poppins: "Poppins", sans-serif;

  --fs-1: 4.2rem;
  --fs-2: 3.8rem;
  --fs-3: 3.2rem;
  --fs-4: 2.5rem;
  --fs-5: 2.4rem;
  --fs-6: 2rem;
  --fs-7: 1.8rem;
  --fs-8: 1.5rem;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /**
   * border radius
   */

  --radius-4: 4px;
  --radius-12: 12px;

  /**
   * spacing
   */

  --section-padding: 60px;

  /**
   * transition
   */

  --transition-1: 0.15s ease;
  --transition-2: 0.35s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.56, 1.02);

  /**
   * shadow
   */

  --shadow: 0 5px 20px 1px hsla(220, 63%, 33%, 0.1);
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
img,
span,
input,
button,
ion-icon {
  display: block;
}

button,
input {
  background: none;
  border: none;
  font: inherit;
}

button {
  cursor: pointer;
}

input {
  width: 100%;
}

ion-icon {
  pointer-events: none;
}

img {
  height: auto;
}

address {
  font-style: normal;
}

html {
  font-family: var(--ff-poppins);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--purple-navy);
  font-size: 1.6rem;
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 95%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 70%);
}

/*-----------------------------------*\
  #REUSED STYLES
\*-----------------------------------*/

.container {
  padding-inline: 15px;
}

.h2,
.h3 {
  font-family: var(--ff-source-sans-pro);
}

.btn {
  background-image: var(--gradient-2);
  background-size: 200%;
  color: var(--white);
  padding: 12px 35px;
  font-size: var(--fs-8);
  font-weight: var(--fw-500);
  border-radius: 0 25px;
  transition: var(--transition-2);
}

.btn:is(:hover, :focus) {
  background-position: right;
  color: var(--white);
}

.w-100 {
  width: 100%;
}

.banner-animation {
  animation: waveAnim 2s linear infinite alternate;
}

@keyframes waveAnim {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  100% {
    transform: translate(4px, 4px) rotate(1deg);
    -webkit-transform: translate(4px, 4px) rotate(1deg);
    -moz-transform: translate(4px, 4px) rotate(1deg);
    -ms-transform: translate(4px, 4px) rotate(1deg);
    -o-transform: translate(4px, 4px) rotate(1deg);
  }
}

.section {
  padding-block: var(--section-padding);
}

.section-title {
  color: var(--st-patricks-blue);
  font-size: var(--fs-3);
  margin-block-end: 60px;
  max-width: max-content;
  margin-inline: auto;
}

.underline {
  position: relative;
}

.underline::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 6px;
  background-image: var(--gradient-2);
  border-radius: 10px;
}

:is(.service-card, .features-card) .title {
  color: var(--st-patricks-blue);
  font-size: var(--fs-4);
  font-weight: var(--fw-700);
}

:is(.service-card, .features-card, .blog-card) .text {
  font-size: var(--fs-8);
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header .btn {
  display: none;
}

.header {
  --color: var(--white);
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 14px;
  z-index: 4;
  transition: var(--transition-1);
}

.header.active {
  --color: var(--st-patricks-blue);
  position: fixed;
  background-color: var(--white);
  box-shadow: 0 2px 30px hsla(0, 0%, 0%, 0.1);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.logo-img {
  /* color: var(--color);
  font-family: var(--ff-source-sans-pro);
  font-size: var(--fs-3); */
  width: 76px;
  height: 76px;
}

.nav-open-btn {
  color: var(--color);
  font-size: 32px;
  padding: 4px;
}

.navbar {
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: -280px;
  width: 100%;
  max-width: 280px;
  min-height: 100%;
  padding: 20px;
  visibility: hidden;
  z-index: 2;
  transition: 0.25s var(--cubic-in);
}

.navbar.active {
  transform: translateX(280px);
  visibility: visible;
  transition: 0.5s var(--cubic-out);
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10px 30px;
}

.navbar-top .logo {
  color: var(--st-patricks-blue);
  font-size: 4.2rem;
  font-weight: var(--fw-700);
}

.nav-close-btn {
  color: var(--space-cadet-1);
  font-size: 2.8rem;
  padding: 4px;
}

.navbar-item:not(:last-child) {
  border-bottom: 1px solid var(--platinum);
}

.navbar-link {
  color: var(--space-cadet-1);
  font-size: var(--fs-8);
  font-weight: var(--fw-600);
  padding-block: 12px;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--black_70);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-2);
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  background-image: url("../../manage/uploads/imgs/hero-bg-bottom.png"),
    url("../../manage/uploads/imgs/hero-bg.png"), var(--gradient-1);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: -45px bottom, center, center;
  background-size: auto, cover, auto;
  padding-block-start: 120px;
  /* padding-block-start: 10px; */
  padding-block-end: var(--section-padding);
}

.hero-content {
  margin-block-end: 50px;
}

.hero-subtitle {
  color: var(--chrome-yellow);
  font-family: var(--ff-source-sans-pro);
  font-size: var(--fs-7);
  margin-block-end: 15px;
}

.hero-title {
  color: var(--white);
  font-size: var(--fs-1);
  margin-block-end: 20px;
}

.hero-text {
  color: var(--white);
  font-size: var(--fs-8);
  margin-block-end: 30px;
}

.hero-btn {
  background-image: var(--gradient-2);
  background-size: 200%;
  color: var(--white);
  padding: 12px 35px;
  font-size: var(--fs-8);
  font-weight: var(--fw-500);
  border-radius: 0 25px;
  transition: var(--transition-2);
  width: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*-----------------------------------*\
  #ABOUT HONE SECTION
\*-----------------------------------*/

.about-banner {
  margin-block-end: 30px;
}

.about .section-title,
.about-page-section .section-title {
  margin-inline: 0;
}

.about .underline::before,
.about-page-section .underline::before {
  left: 0;
  transform: translateX(0);
}

.about-text {
  font-size: var(--fs-8);
  margin-block-end: 20px;
}

/*-----------------------------------*\
  #ABOUT SINGLE PAGE
\*-----------------------------------*/

.about_page {
  position: relative;
  width: 100%;
  min-height: 50vh;
  background-color: #d1e2e9;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about_page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(33 37 41 / 70%);
  z-index: 2;
}

.about_page P {
  position: absolute;
  top: 50%;
  font-size: var(--fs-2);
  color: #fbfbfb;
  text-align: center;
  max-width: fit-content;
  z-index: 3;
}

@media screen and (max-width: 767px) {
  .about_page P {
    font-size: 38px;
    max-width: 320px;
  }
}
.about_page a {
  margin-top: 20px;
  border: 2px solid white;
  padding: 15px;
  color: white;
  font-size: 18px;
  z-index: 4;
}

.about_page img {
  position: absolute;
  /* height: 75rem; */
  width: 100%;
  /* object-fit: contain; */
}

@media only screen and (max-width: 996px) {
  .about_page {
    min-height: 80vh;
  }

  .about_page img {
    height: 40rem;
  }
}

@media only screen and (max-width: 767px) {
  .about_page {
    min-height: 50vh;
  }

  .about_page img {
    height: 55rem;
  }
}

.about-page-section {
  background-color: var(--white-2);
}

.about-page-banner {
  position: relative;
  border-radius: var(--radius-5);
  overflow: hidden;
  margin-block-end: 25px;
}

.about-page-section :is(.section-title, .section-text) {
  text-align: right;
}

.about-page-section .section-text:not(:last-child) {
  margin-block-end: 18px;
}

.about-page-section .h3 {
  margin-block-end: 10px;
  font-size: 24px;
  font-weight: bold;
}

.about-page-list {
  margin-block: 15px 18px;
}

.about-page-item {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.about-page-item ion-icon {
  color: var(--red-crayola);
  flex-shrink: 0;
  margin-block-start: 2px;
}

.about-page-item:not(:last-child) {
  margin-block-end: 12px;
}

/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/

.service-list {
  display: grid;
  gap: 30px;
}

.service-card {
  padding: 30px;
  box-shadow: var(--shadow);
  border-radius: var(--radius-12);
  height: 520px;
}

.service-card .card-icon {
  background-image: url("../../manage/uploads/imgs/service-banner-pattern.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--first-color);
  aspect-ratio: 1 / 1;
  max-width: 165px;
  display: grid;
  place-content: center;
  margin-inline: auto;
  transition: var(--transition-1);
}

.service-card:hover .card-icon {
  background-color: var(--alt-color);
}

.service-card .card-icon ion-icon,
.service-card .card-icon i {
  font-size: 5rem;
  color: var(--alt-color);
  --ionicon-stroke-width: 20px;
  transition: var(--transition-1);
}

.service-card:hover .card-icon ion-icon,
.service-card:hover .card-icon i {
  color: var(--white);
}

.service-card .title {
  text-align: center;
  margin-block-end: 15px;
}

.service-card .text {
  text-align: center;
  margin-block-end: 20px;
  height: 140px;
}

.service-card .card-btn {
  margin-inline: auto;
  padding: 15px;
  border: 1px solid var(--alt-color);
  border-radius: 50%;
  color: var(--alt-color);
  transition: var(--transition-1);
}

.service-card .card-btn:is(:hover, :focus) {
  color: var(--white);
  background-color: var(--alt-color);
}

/*-----------------------------------*\
  #FEATURE
\*-----------------------------------*/

.features-list > li:first-child {
  margin-block-end: 30px;
}

.features-card {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.features-card .icon {
  background-image: var(--gradient-1);
  background-size: 200%;
  color: var(--white);
  min-width: max-content;
  max-width: max-content;
  font-size: 36px;
  padding: 22px;
  border-radius: 50%;
}

.features-card .icon ion-icon {
  --ionicon-stroke-width: 20px;
}

.features-card .title {
  margin-block-end: 10px;
}

.features-banner {
  margin-block: 40px;
}

.features-banner > img {
  max-width: max-content;
  margin-inline: auto;
}

/*-----------------------------------*\
  #CEO WORD
\*-----------------------------------*/
.ceo .container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.ceo .ceo-banner {
  display: flex;
  align-items: center;
}

.ceo .ceo-banner img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.ceo .ceo-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.ceo .ceo-name {
  color: var(--st-patricks-blue);
  font-size: var(--fs-1);
  margin-block-end: 10px;
  max-width: max-content;
}

.ceo .ceo-position {
  font-size: var(--fs-5);
  color: var(--alt-color);
  margin-block-end: 30px;
}

.ceo .ceo-text {
  font-size: var(--fs-6);
  margin-block-end: 20px;
}

/*-----------------------------------*\
  #FREQUENTLY QUESTIONS
\*-----------------------------------*/
.frequently .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.frequently .accordion .accordion-item {
  padding: 10px;
}

.frequently .accordion .accordion-item ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.frequently .accordion .accordion-item ul li {
  display: flex;
  flex-direction: row;
}

.frequently .accordion .accordion-item ul li ion-icon {
  margin-left: 10px;
  font-size: 24px;
  color: var(--winter-sky);
}

.frequently .accordion .accordion-button {
  font-size: 18px;
}

.frequently .accordion .accordion-button:after {
  margin-left: 0;
  margin-right: auto;
}

.frequently .frequently-banner {
  display: flex;
  align-items: center;
}

/*-----------------------------------*\
  #BLOG
\*-----------------------------------*/

.blog {
  padding-block-end: 120px;
}

.blog-list {
  display: grid;
  gap: 30px;
}

.blog-card {
  padding: 20px;
  box-shadow: var(--shadow);
  border-radius: var(--radius-12);
}

.blog-card .banner {
  border-radius: var(--radius-12);
  overflow: hidden;
  margin-block-end: 15px;
}

.blog-card .banner img {
  transition: var(--transition-2);
}

.blog-card .banner a:is(:hover, :focus) img {
  transform: scale(1.1);
}

.blog-card .title {
  color: var(--st-patricks-blue);
  font-size: var(--fs-6);
  line-height: 1.2;
  margin-block-end: 15px;
}

.blog-card .title > a {
  color: inherit;
}

.blog-card .title > a:is(:hover, :focus) {
  color: var(--razzmatazz);
}

.blog-card .text {
  margin-block-end: 15px;
}

.blog-card .meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  font-size: var(--fs-8);
  color: var(--purple-navy);
  font-weight: var(--fw-500);
  padding-block-end: 10px;
}

.blog-card .meta ion-icon {
  color: var(--winter-sky);
  font-size: 22px;
  --ionicon-stroke-width: 35px;
}

.publish-date,
.comment {
  display: flex;
  align-items: center;
  gap: 8px;
}

.comment {
  color: inherit;
  margin-inline-start: auto;
}

/* 
---------------------------------------------
CONTACT
--------------------------------------------- 
*/

.contact-us {
  margin-top: 90px;
  padding: 120px 0px;
  /* background-image: url(../images/contact-bg.jpg); */
  background-image: url(../../manage/uploads/imgs/footer-bg.png),
    var(--gradient-1);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.contact-us .section-heading {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.contact-us .contact-info {
  padding: 40px 30px;
  border: 2px solid #eee;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.contact-us .contact-info ul li {
  text-align: center;
  display: block;
  margin-bottom: 30px;
}

.contact-us .contact-info ul li a {
  font-size: 15px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.contact-us .contact-info ul li a,
.contact-us .contact-info ul li span {
  color: var(--space-cadet-2);
}

.contact-us .contact-info ul li:hover a {
  color: #2a2a2a;
}

.contact-us .contact-info ul li:last-child {
  margin-bottom: 0px;
}

.contact-us .contact-info ul li .icon {
  margin-bottom: 10px;
}

.contact-us .contact-info ul li .icon i {
  font-size: 28px;
  color: var(--space-cadet-1);
}

form#contact {
  position: relative;
  background-color: #fff;
  padding: 60px 80px;
  border-radius: 50px;
  text-align: center;
}

form#contact input {
  width: 100%;
  height: 46px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #efefef;
  outline: none;
  font-size: 15px;
  font-weight: 300;
  color: #2a2a2a;
  padding: 0px 20px;
  margin-bottom: 20px;
}

form#contact input::placeholder {
  color: #aaa;
}

form#contact textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  max-height: 180px;
  min-height: 140px;
  height: 140px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #efefef;
  outline: none;
  font-size: 15px;
  font-weight: 300;
  color: #2a2a2a;
  padding: 15px 20px;
  margin-bottom: 20px;
}

form#contact textarea::placeholder {
  color: #aaa;
}

.contact-us .social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contact-us .social-list .social-link {
  background-color: var(--alt-color);
  color: var(--white);
  font-size: 28px;
  padding: 10px;
  border-radius: 50%;
}

.contact-us .social-link:is(:hover, :focus) {
  background-image: var(--gradient-2);
  color: var(--white);
}

.contact-us .btn {
  margin-bottom: 2rem;
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
  font-size: var(--fs-8);
}

.footer a {
  color: inherit;
}

.footer-top {
  background-image: url("../../manage/uploads/imgs/footer-bg.png"),
    var(--gradient-1);
  background-repeat: no-repeat;
  background-size: auto, 200%;
  background-position: center, center;
  color: var(--white);
}

.footer-brand {
  margin-block-end: 30px;
}

.footer-brand .logo {
  font-weight: var(--fw-700);
  margin-block-end: 15px;
}

.footer-brand .text {
  font-size: 1.3rem;
  margin-block-end: 20px;
}

.social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.footer-top .social-link {
  background-color: var(--white);
  color: var(--alt-color);
  font-size: 18px;
  padding: 8px;
  border-radius: 50%;
  transition: var(--transition-2);
  -webkit-transition: var(--transition-2);
  -moz-transition: var(--transition-2);
  -ms-transition: var(--transition-2);
  -o-transition: var(--transition-2);
}

.footer-top .social-link:is(:hover, :focus) {
  background-image: var(--gradient-2);
  color: var(--white);
}

.footer-list:not(:last-child) {
  margin-block-end: 25px;
}

.footer-list-title {
  font-family: var(--ff-source-sans-pro);
  font-size: var(--fs-5);
  font-weight: var(--fw-700);
  margin-block-end: 15px;
}

.footer-link {
  padding-block: 5px;
}

:is(.footer-link, .footer-item-link):not(address):is(:hover, :focus) {
  text-decoration: underline;
}

.footer-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-block: 10px;
}

.footer-item-icon {
  background-image: var(--gradient-2);
  padding: 13px;
  border-radius: 50%;
}

.footer-bottom {
  background-color: var(--space-cadet-2);
  padding: 20px;
  text-align: center;
  color: var(--white);
}

.copyright-link {
  display: inline-block;
  text-decoration: underline;
}

.copyright-link:is(:hover, :focus) {
  text-decoration: none;
}

/*-----------------------------------*\
  #GO TO TOP
\*-----------------------------------*/

.go-top {
  position: fixed;
  bottom: 0;
  right: 15px;
  background-color: var(--winter-sky);
  color: var(--white);
  font-size: 2rem;
  padding: 14px;
  border-radius: var(--radius-4);
  box-shadow: -3px 3px 15px var(--winter-sky_50);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: var(--transition-1);
}

/*-----------------------------------*\
  #WHATSAPP ICON
\*-----------------------------------*/

.whatsapp_float,
.call_float {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 60px;
  bottom: 0px;
  color: #fff;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: var(--transition-1);
}


.whatsapp_float {
  right: 80px;
  background-color: #25d366;
}

.whatsapp-icon {
  line-height: 2;
}
.whatsapp-hover-text {
  font-size: 22px;
}

.go-top.active,
.whatsapp_float.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(-15px);
}

.call_float {
  right: 10px;
  background-color: var(--main-color);
}

/*-----------------------------------*\
  #TEXT ANIMATION
\*-----------------------------------*/
.line-1 {
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 550px screen
 */

@media (min-width: 550px) {
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 550px;
    margin-inline: auto;
  }

  .section-title {
    --fs-3: 3.6rem;
  }

  /**
   * HEADER
   */

  .header .btn {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-inline-start: auto;
  }

  /**
   * SERVICE
   */

  .service-card {
    height: 500px !important;
  }

  /**
   * BLOG
   */

  .blog-card {
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    gap: 20px;
    padding: 30px;
  }

  .blog-card .banner {
    margin-block-end: 0;
  }

  .blog-card .banner a {
    height: 100%;
  }

  /**
   * FOOTER
   */

  .footer-brand,
  .footer-list:not(:last-child) {
    margin-block-end: 0;
  }

  .footer-top .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 50px;
  }
}

/**
 * responsive for larger than 768px screen
 */

@media (max-width: 767px) {
  /**
   * FREQUENTLY QUESTIONS
   */

  .frequently .container {
    grid-template-columns: 1fr !important;
  }

  /**
   * CONTACT
   */

  form#contact {
    padding: 30px;
  }
}

@media (min-width: 768px) {
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 720px;
  }

  /**
   * HERO
   */

  .hero {
    min-height: 600px;
    display: grid;
    place-items: center;
    padding-block-start: 10px;
  }

  .hero-content {
    margin-block-end: 0;
  }

  .hero .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
  }

  /**
   * SERVICE
   */

  .service-list {
    grid-template-columns: 1fr 1fr;
  }

  /**
   * FEATURES
   */

  .features-list > li:first-child {
    margin-block-end: 0;
  }

  .features-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }

  /**
   * ABOUT SINGLE PAGE
   */

  .about-page-banner {
    max-width: 550px;
  }

  .about-page-section .section-text {
    max-width: unset;
    margin-inline: 0;
  }

  /**
   * CONTACT
   */

  .contact-info {
    margin-top: 20px;
  }
  form#contact {
    padding: 45px;
  }

  /**
   * FOOTER
   */

  .footer-top .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-1: 5.4rem;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 950px;
  }

  /**
   * HEADER
   */

  .header {
    padding-block: 20px;
  }

  .overlay,
  .nav-open-btn,
  .navbar-top {
    display: none;
  }

  .navbar,
  .navbar.active {
    all: unset;
    margin-inline-start: auto;
  }

  .header .btn {
    margin-inline-start: 0;
  }

  .navbar-list {
    display: flex;
    gap: 25px;
  }

  .navbar-item:not(:last-child) {
    border-bottom: none;
  }

  .navbar-link {
    color: var(--color);
  }

  /**
   * HERO
   */

  .hero {
    min-height: 700px;
  }

  /**
   * ABOUT HOME SECTION
   */

  .about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  /**
   * CEO SECTION
   */

  .ceo .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  /**
   * ABOUT SINGLE PAGE
   */

  .about-page-section .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
  }

  .about-page-banner {
    margin-block-end: 0;
  }

  /**
   * SERVICE
   */

  .service-list {
    grid-template-columns: repeat(3, 1fr);
  }

  /**
   * FEATURES
   */

  .features-list {
    grid-template-columns: 1fr;
  }

  .features .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .features .section-title {
    grid-column: 1 / 4;
  }

  .features-banner {
    margin-block: 0;
    display: grid;
    place-items: center;
  }

  /**
   * FOOTER
   */

  .footer-top .container {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer-brand {
    grid-column: 1 / 5;
  }

  .footer-brand .text {
    max-width: 45ch;
  }
}

/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 1200px;
  }

  .frequently .container,
  .ceo .container {
    max-width: 1440px;
  }

  .section-title {
    --fs-3: 4.6rem;
  }

  /**
   * HERO
   */

  .hero {
    min-height: 800px;
  }

  /**
   * ABOUT SINGLE PAGE
   */

  .about-page .container {
    gap: 60px;
  }

  .about-page-item {
    gap: 7px;
  }

  .about-page-item ion-icon {
    font-size: 20px;
  }

  /**
   * BLOG
   */

  .blog-list {
    grid-template-columns: 1fr 1fr;
  }

  .blog-card {
    height: 100%;
  }

  .blog-card .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /**
   * FOOTER
   */

  .footer-top .container {
    grid-template-columns: 1fr 0.5fr 0.7fr 1fr;
  }

  .footer-brand {
    grid-column: auto;
  }
}
